name: Docker Image CI

on:
  repository_dispatch:
    types: [ master-updated ]
  workflow_dispatch:
  push:
    branches:
      - 'master'


env:
  REGISTRY: ghcr.io

jobs:
  ledgersmb:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Log in to the Container registry
      uses: docker/login-action@5b7b28b1cc417bbd34cd8c225a957c9ce9adf7f2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
      with:
        context: ledgersmb/
        push: true
        tags: ${{ env.REGISTRY }}/ledgersmb/dev-ledgersmb:latest

  proxy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Log in to the Container registry
      uses: docker/login-action@5b7b28b1cc417bbd34cd8c225a957c9ce9adf7f2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
      with:
        context: nginx/
        push: true
        tags: ${{ env.REGISTRY }}/ledgersmb/dev-nginx:latest

  postgres:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pg_version: [ "latest", "17", "16", "15", "14", "13", "12" ]
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Log in to the Container registry
      uses: docker/login-action@5b7b28b1cc417bbd34cd8c225a957c9ce9adf7f2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@9e436ba9f2d7bcd1d038c8e55d039d37896ddc5d
      with:
        build-args: |
          PGBASE=${{ matrix.pg_version }}
        context: postgres/
        push: true
        tags: ${{ env.REGISTRY }}/ledgersmb/dev-postgres:${{ matrix.pg_version }}

  cleanup:
    runs-on: ubuntu-latest
    needs: [ 'ledgersmb', 'proxy', 'postgres' ]
    steps:
    - name: ghcr.io cleanup action
      uses: dataaxiom/ghcr-cleanup-action@v1
      with:
        packages: dev-postgres,dev-ledgersmb,dev-nginx
